.Layout
	background-image url("../img/city.jpg")
	background-size cover
	display flex
	flex-direction column
	justify-content space-between
	margin 0.5em
	min-height 100vh
	padding 0.5em
	test(brown)
	> section
		margin 0.5em
	&-antagonist
		display flex
		justify-content space-between
		test(lightblue)
	&-battle
		background-image url("../img/pattern.jpg")
		test(orange)
		flex 1
	&-main
		display flex
		justify-content space-between
	&-phases
		position relative
		test(purple)
		width 200px
	&-player
		display flex
		justify-content space-between
		test(gray)
	&-status
		test(green)
		width 200px