.Card
	background-color #c2ac37
	border 5px solid black
	border-radius 0.5em
	box-shadow 0 0 10px rgba(black, 0.5)
	padding 0.5em
	width 150px
	&-attack
		background-color black
		color white
		font-size 0.75em
	&-description
		background-color white
		border 1px solid black
		font-size 12px
		margin-bottom 0.5em
		padding 0.5em
	&-image
		width 100%
	&-name
		color white
		font-size 1em
		margin 0 0 0.5em 0
		text-transform uppercase