test($color = red)
	border 1px solid $color
	box-sizing border-box
	
@import "nib"
@import "./battle/styles.styl"
@import "./card/styles.styl"
@import "./layout/styles.styl"
@import "./phases/styles.styl"
@import "./status/styles.styl"

body
	font-family Arial
	font-size 16px
	margin 0
	padding 0