doctype html
head
	meta(charset='utf-8')
	title Marvel Game Card
	link(rel='stylesheet', href='./public/css/app.css')
body
	section(class='Layout')
		section(class='Layout-main')
			div(class='Layout-status')
			div(class='Layout-battle')
				div(class='Battle')
					- _class = ''
					div(class='Battle-antagonist')
					div(class='Battle-player')
						each card in [1,2,3,4,5]
							include card/template.jade

	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
	script(src='./lib/app.js')